*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: white;
}
.player{
    top: 1rem;
    position: absolute;
}
.userName{
    position: absolute;
}
.displayName{
    top: 5rem;
    position: absolute;
    font-weight: bold;
    font-size: 2rem;
}
.container{
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
   
}
.quote{
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
    color: lightgrey;
}
.score{
    position: absolute;
    top: 4rem;
    left: 28rem;
}
.point{
    position: absolute;
    top: 4.6rem;
    left: 32rem;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}
#button2{
    position: absolute;
    top: 7rem;
    right: 30.5rem;
}
.timerText{
    position: absolute;
    top: 4rem;
    right: 30rem;
}
.timer{
    position: absolute;
    font-size: 2rem;
    top: 4.6rem;
    right: 27rem;
    font-weight: bold;
}
.input{
    background-color: transparent;
    border: 2px solid;
    outline: none;
    width: 100%;
    height: 15rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 2rem;
    border-radius: .5rem;
    

}
.input:focus{
    border-color: black;
}
.scoreBoard{
    position: absolute;
    top: 35rem;  
    left: 28rem;
    font-size: 1.5rem;
}
.correct {
    color:rgb(0, 0, 0)
}
.incorrect {
    color:red;
    text-decoration: underline;
}